@{
    ViewBag.Title = "Adresiniz Doğrulamıştır!";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Doğrulama işlemi başarı ile gerçekleştirilmiştir. Lütfen @Html.ActionLink("Login olmak için buraya tıklayınız", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
