@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Hata";
}

<h1 class="text-danger">Üzgünüz :(</h1>
<h2 class="text-danger"> Talebinizi işlerken bir hata oluştu. Bunu en kısa zamanda düzeltmek için uğraşıyoruz.</h2>

